{% extends 'base.html' %}

{% block content %}
    <p>
        <h3 align="center">List of {{title}}</h3>
        {% if request.user.profile.designation == "Admin" %}

                <a class="btn btn-success" href="{%url 'dash_board'%}">Dash board </a>

        <a class="btn btn-success float-right" href="{%url 'task_add' %}"> Add Task</a>
        {% endif %}
    </p>
{% if request.user.profile.designation == "Admin" %}
<!--Admin interface -->
    <div class="table-responsive-lg">
        {% if task %}
            <table class="table table-bordered">
                <thead class="thead-light" align="center">
                    <tr>
                        <th>Tasks</th>
                        <th> Actions </th>
                    </tr>
                </thead>
                <tbody align="center">
                {% for tsk in task %}
                    <tr>
                        <th scope="row">
                            <a class="list-group-item" href="#" >{{tsk.title }} </a>
                        </th>
                        <td class="text-center">
                            <a class="btn btn-primary" href="{%url 'task_detail' tsk.id %}">Details</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
        {% else %}
            <p>There is no Tasks available.</p>
        {% endif %}
    </div>
{% endif %}

<!--User interface -->
{% if request.user.profile.designation != "Admin" %}
<div class="table-responsive-lg">
        {% if task %}
            <table class="table table-bordered">
                <thead class="thead-light" align="center">
                    <tr>
                        <th>Tasks</th>
                        <th> Actions </th>
                    </tr>
                </thead>
                <tbody align="center">

                        {% for i in assign %}
                        <tr>
                            {% if request.user.id == i.user_id %}
                                <th scope="row">
                                    <a class="list-group-item" href="#" >{{i}} </a>
                                </th>
                            <td class="text-center">
                            <a class="btn btn-success" href="{% url 'task_progress' i.task_id %}">Compleated</a>
                                <a class="btn btn-danger" >{{i.user_id}}</a>
                        </td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                </tbody>
                </table>
        {% else %}
            <p>There is no Tasks available.</p>
        {% endif %}
    </div>
{% endif %}
{% endblock content %}