{% extends 'base.html' %}

{% block content %}
<p>
        <h3 align="center">List of Tasks</h3>
</p>

<div class="table-responsive-lg">
        {% if task %}
            <table class="table table">
                <thead class="thead-light" align="center">
                    <tr>
                        <th>Tasks</th>
                        <th> Status</th>

                        <th>Department</th>
                        <th> User</th>

                    </tr>
                </thead>
                <tbody align="center">
                {% for tasks in task %}
                <tr>

                        <th scope="column">
                            <p class="list-group-item">{{tasks }} </p>
                        </th>
                        <th scope="coloumn">
                            <p class="list-group-item">{{tasks.status }}</p>
                        </th>

                    {% for user in a %}

                    {% if tasks.user_id == user.id %}
                    <th scope="column">
                    <p > {{user.profile.department}}</p>
                    </th>
                    <th scope="column">
                        <p>{{user.username}}</p>
                    </th>

                    {% endif %}
                     </th>


                    {% endfor %}


                </tr>
                {% endfor %}

                </tbody>
                </table>
        {% else %}
            <p>There is no Tasks available.</p>
        {% endif %}
    </div>
{% endblock content %}